body {
    margin: 0;
    /*貼り付けた箇所↓*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: black;
}

/*加点や失点を表示するボックス*/
.statusBox {
    width: 134px;
    text-align: center;
    float: left;
    font-weight: bold;
    background-color: black;
    color:skyblue;
    padding: 3px;
}
/*タイトルを表示するボックス*/
#centerBox {
    width: 89px;
    background-color: black;
    font-weight: bold;
    text-align: center;
    color: white;
    float: left;
    padding: 3px;
}